.mainintro {
  display: flex;
  /* margin-left: 150px; */
}
.fullwidth {
  width: 100%;
}

.maincontent {
  padding: 5vw 4vw;
  /* width: 80%; */
}
.bgimg2 {
  background-image: url("../public/Images/bg.jpg");
  width: 100%;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutheading {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: white;
}
#btn {
  background-color: #414042;
  margin: 2px;
  border-radius: 0%;
  display: inline-block;
  border: 1px solid transparent;
  margin-top: 10px;
}

#btn:hover {
  background-color: rgb(206, 61, 61);
  color: white;
  cursor: pointer;
}
.card {
  background: rgba(239, 55, 66, 1);
  border: none;
}
.cardbody {
  padding: 1.65rem;
}
.cardtext {
  color: white;
  margin-bottom: 0%;
}
/* Dr hassan murad history */
.aboutp2 {
  font-size: 18px;
  font-family: "Arial";
  color: #58595b;
  line-height: 1.5;
}

/* text and videopart */
.videointro {
  margin: 50px 0;
  background-color: rgb(109, 110, 113);
  position: relative;
}
.videop {
  padding: 30px 20px;
  color: white;
  font-size: 20px;
  margin-top: 20px;
}
.videopart {
  position: absolute;
  top: -20;
  left: 0;
  /* z-index: 10; */
  background-color: rgba(255, 0, 0, 0.5);
}

/* accordion part */
.accordion {
  /* max-width: 768px; */
  background-color: #58595b;
}
.accordionheading {
  font-size: 32px;
  font-weight: bolder;
  color: #ef3742;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  /* margin: 40px 0px 20px; */
}
.accordionitem {
  list-style: none;
  margin-bottom: 3px;
  color: white;
  background: #6d6e71;
}
.accordiontoggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}
.accordiontoggle:hover {
  background-color: #ef3742;
}
.accordiontoggle h5 {
  color: white;
  /* margin: 0; */
}
.accordioncontent {
  background-color: RGB(220 221 222);
  color: black;
  padding: 1.25rem;
}

/* vision and mission page css */

.visionh4 {
  color: #ef3742;
  font-size: 30px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 0px;
}
.visionp {
  color: #58595b;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.visionaccordion {
  background: #6d6e71;
  padding: 20px 20px;
  margin-bottom: 50px;
}
.visionh3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* accreditation page css */
.maincontent2 {
  padding: 0 8vw;
  width: 80%;
  background-color: aqua;
}
.accreditheading {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: white;
}
.accreditp {
  font-size: 18px;
  font-family: "Arial";
  color: #58595b;
}
.accreditrow {
  border-bottom: 1px solid #fcd7d9;
  padding-bottom: 35px;
  padding-top: 35px;
  position: relative;
}
.accredittitle {
  color: #ef3742;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0px;
  font-style: italic;
}
.accreditimage {
  border-right: 0.2em solid #c7c7c7;
}
/* footer css  */
.footer {
  background-color: #414042;
  border-color: #414042;
  color: white;
  border-top-width: 5px;
  /* padding-top: 43px;
  padding-bottom: 40px; */
  font-size: 12px !important;
  /* padding-left: 80px !important;
  padding-right: 60px !important; */
}

/* HSM Reveiw page css */
.HSMcontent {
  padding: 10vw 4vw;
}
.hsmreveiwimg {
  background-image: url("../public/Images/hsm\ review\ bg.jpg");
  width: 100%;
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hsmreviewheading {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: white;
}
.hsmreviewtitle {
  text-decoration: none;
  color: #ef3742;
}
.hsmreviewtitle :hover {
  color: black;
}
.reviewcontent {
  font-size: 14px !important;
  text-align: justify;
  text-justify: inter-word;
  padding-right: 68px;
}
/* HSM REVEIW page 1 css */
.reviewpage1 {
  background-image: url("../public/Images/hsmreveiw1.jpg");
  width: 100%;
  position: relative;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}
.reviewcard {
  background: rgba(239, 55, 66, 1);
  border: none;
}
.reviewcardbody {
  padding: 1.2rem;
}
.reviewcardtext {
  color: white;
  margin-bottom: 0%;
}
.reviewpagep {
  margin-top: 40px;
  font-size: 18px;
  font-family: "Arial";
  color: #58595b;
  line-height: 1.5;
}
/* HSM-review page2 css */
.reviewpage2 {
  background-image: url("../public/Images/hsmreview2.jpg");
  width: 100%;
  position: relative;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}
/* HSM-REVIEW PAGE3 CSS */
.reviewpage3 {
  background-image: url("../public/Images/hsmreviewpage3.jpg");
  width: 100%;
  position: relative;
  height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  #btn {
    display: block;
    width: 100%;
    background-color: #414042;
  }
  .aboutheading {
    font-size: 40px;
    padding-top: 200px;
  }
}
